body {
  /* background-color: #FFFFFC; */
  background-color: #327d00;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  color: red;
  text-align: center;
}

.main-image{
  background-image: url("path/to/image.jpg");
}

.navbar-light .navbar-brand {
  color: rgba(68, 44, 9, 0.9) !important;
}

.navbar-dark .navbar-brand {
  color: red;
}
